<div class="footer container-fluid m0 p0 navbar-height" style="line-height: 60px">
  <div class="row mx-responsive m0 p0">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 p0">
      <footer>
        <p class="min-size m0">MIT license &copy;
          <%= site.author %>,
          <%= site.currentYear %>.
		</p>
		<a href="https://www.netlify.com/" target="_blank"><img class="inline-logo m0 mlquarter" src="/assets/images/netlify-logo.png" alt=""></a>
      </footer>
    </div>
  </div>
</div>